<div class="card">
  <div class="card-header">
    Header
  </div>
  <div class="card-body">
    <h4 class="card-title">Padre</h4>
    
    <div class="form-group">
      <label for="nombre">Introduce tu nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Jamona Jimenez Jota" [(ngModel)]="sNombre">
    </div>
    <button type="button" name="" id="" class="btn btn-primary" (click)="fBorrar()">Borrar</button>
    <babel-hijo [sNombre]="sNombre" (eRespuesta)="fBorrarHijo($event)" ></babel-hijo>
  </div>
  
  <div class="card-footer text-muted">
    <p>Mi hijo se llama {{sNombre}}
    </p>
   
  </div>
</div>