<div class="row">
<div class="container">
  
    <nav class="col-8">
        <ul class="nav nav-pills">
        <a class="nav-link" routerLinkActive = "active" routerLink = "inicio">Inicio</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="catalogo">Catalogo</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="#">Autores</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="#">Noticias</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="about">Acerca de</a>
        <li class="nav-item nav-link">
        </li>
      </ul>
    </nav>
  </div>
</div>
