
<div class="container">
    <div class="row">
    <nav class="col">
        <ul class="nav nav-pills">
        <a class="nav-link" routerLinkActive = "active" routerLink = "inicio">Inicio</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="catalogo">Catalogo</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="comunics">Comunicaciones</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="agenda">Agenda</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="printer">Imprimir</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="libros">Libros</a>
        <li class="nav-item nav-link">
        </li>
        <a class="nav-link" routerLinkActive = "active" routerLink="about">Acerca de</a>
        <li class="nav-item nav-link">
        </li>
      </ul>
    </nav>
  </div>
</div>
